<!DOCTYPE html>
<html>
      
<head>
    <title>
        DPA Ituano - Etiquetador de Eventos
    </title>
    <link href="url_for('static',filename='css/styles.css')">
    
</head>
  
<body>
    <canvas id="myCanvas" width="900" height="600"
        style="background-color: green">
    </canvas>
     <div id="event-container">
        <button class="event-button" id="test">Passe Certo</button>
         <button class="event-button" id="test">Passe Errado</button>
        <button class="event-button">Falta</button>
        <button class="event-button">Recuperação</button>
        <button class="event-button">Cruzamento</button>
        <button class="event-button">Chutes</button>
         <button class="event-button" id="test">Gols</button>
    </div>
    <div id="input-container">
        <input type = "text" id="add-event" placeholder="Add event type" onkeypress="handler(event)">
    </div>
    <div id="table-container">
            <table id="data">
                <thead>
                    <tr>
                        <th>Evento</th>
                        <th>X</th>
                        <th>Y</th>
                    </tr>
                </thead>
                <tbody id="data-body">
                
                </tbody>
            </table>
        </div>

         <div id = "button-container">
            <p><button id="undo">Deletar último</button></p>
            <p><button id="clear">Deletar todos</button></p>
            <p><button id="export" onclick="exportTableToCSV('eventos.csv')">Exportar tabela para arquivo .csv</button></p>
            
        </div>
        
    </div>
   <script type="text/javascript">
        var eventType = "Pass"
        var eventButtons = document.getElementsByClassName("event-button");

        var changeEvent = function() {
            eventType = this.innerHTML;
        };
        for (var i = 0; i < eventButtons.length; i++){
            eventButtons[i].onclick = changeEvent;
        };

        var addEventButton = function(){
            var buttonText = document.getElementById("add-event").value;
            var buttonHTML = "<button class=\"event-button\" id=\"" +buttonText+ "\">"+buttonText+"</button>"
            document.getElementById("event-container").innerHTML += buttonHTML;
            for (var i = 0; i < eventButtons.length; i++){
                eventButtons[i].onclick = changeEvent;
            };
        }
        var handler = function(e) {
            var key = e.keyCode;
            if (key==13){
                addEventButton();
            };
        };

        var myCanvas = document.getElementById("myCanvas")
        var context = myCanvas.getContext("2d");
        context.strokeStyle = "white";

        //Pitch, box, 6-yard rectangles (x,y,width,heigth)
        context.strokeRect(1,1,898,598); //pitch

        context.strokeRect(1,200,100,200); //box left
        context.strokeRect(799,200,100,200); //box right

        context.strokeRect(1, 235, 36, 130); //ok
        context.strokeRect(862, 235, 36, 130); //ok

        //Centre circle & line

        context.moveTo(449,1);
        context.lineTo(449,598);
        context.stroke();

        context.beginPath()
        context.arc(449, 300, 40, 0, 2*Math.PI);
        context.stroke();
        context.closePath();

        //Pen & centre spots

        context.beginPath();
        context.arc(70, 300, 1, 0, 2*Math.PI);
        context.fillStyle = "white";
        context.fill();
        context.closePath();

        context.beginPath();
        context.arc(449, 300, 1, 0, 2*Math.PI);
        context.fillStyle = "white";
        context.fill();
        context.closePath();  

        context.beginPath();
        context.arc(830, 300, 1, 0, 2*Math.PI);
        context.fillStyle = "white";
        context.fill();
        context.closePath();

        //Pen area D

        context.beginPath();
        context.arc(825,300,40,2.25,4);
        context.stroke();
        context.closePath();

        context.beginPath();
        context.arc(75,300,40,5.4,0.85);
        context.stroke();
        context.closePath


        function getMousePos(canvas, evt) {
        var rect = myCanvas.getBoundingClientRect();
        return {
          x: evt.clientX - rect.left,
          y: evt.clientY - rect.top,
        };
      }

      myCanvas.addEventListener('click', function(evt) {
        var mousePos = getMousePos(myCanvas, evt);
        var table = document.getElementById("data-body");
        var row = table.insertRow(-1);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        cell1.innerHTML = eventType;
        cell2.innerHTML = parseInt((Math.round(mousePos.x)*(1/9)));
        cell3.innerHTML = parseInt((Math.round(mousePos.y)*(1/6)));
        document.getElementById("table-container").scrollTop = document.getElementById("table-container").scrollHeight;
    });

      document.getElementById("undo").onclick = function(){
        var table = document.getElementById("data");
        if (table.rows.length > 1){
            table.deleteRow((table.rows.length)-1);
        };
    };
        document.getElementById("clear").onclick = function(){
            var table = document.getElementById("data");
            document.getElementById("data").innerHTML = 
            "<thead><tr><th>Event Name</th><th>X Location</th><th>Y Location</th></tr></thead><tbody id=\"data-body\"></tbody>";
        };
        function downloadCSV(csv, filename) {
            var csvFile;
            var downloadLink;
            csvFile = new Blob([csv], {type: "text/csv"});
            downloadLink = document.createElement("a");
            downloadLink.download = filename;
            downloadLink.href = window.URL.createObjectURL(csvFile);
            downloadLink.style.display = "none";
            document.body.appendChild(downloadLink);
            downloadLink.click();
        }


        function exportTableToCSV(filename) {
            var csv = [];
            var rows = document.querySelectorAll("table tr");

            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll("td, th");

            for (var j = 0; j < cols.length; j++) 
                row.push(cols[j].innerText);
            csv.push(row.join(","));
        }
        downloadCSV(csv.join("\n"), filename);
    }
 </script>
    
</body>
  
</html>
